@use "../global" as g;

@include g.sp {
  .l-wrapper {
    min-height: 100vh;
    overflow-x: hidden;
    display: grid;
    grid-template:
      "header" 100px
      "figure  " 200px
      "main   " 500px
      "sidebar" auto
      "access " 200px
      "footer  " 100px
      /100vw;
  }
  .l-header {
    grid-area: header;
    background-color: g.$red;
  }
  .l-mainvisual {
    grid-area: figure;
    margin: 0;
    background-color: g.$gray;
  }
  .l-contents {
    grid-area: main;
    background-color: g.$open-hover;
  }
  .l-sidebar {
    grid-area: sidebar;
    width: 100%;
    position: absolute;
    min-width: 300px;
    transform: translate(100%, 0);
    background-color: g.$gray;
  }

  .l-access {
    grid-area: access;
  }
  .l-footer {
    grid-area: footer;
    background-color: g.$green;
  }
}

@include g.tab {
  .l-wrapper {
    min-height: 100vh;
    display: grid;
    grid-template:
      "header" 100px
      "figure  " 200px
      "main   " 500px
      "sidebar" auto
      "access " 200px
      "footer  " 100px
      /100%;
  }
  .l-header {
    grid-area: header;
    background-color: g.$red;
  }
  .l-mainvisual {
    grid-area: figure;
    margin: 0;
    background-color: g.$gray;
  }
  .l-contents {
    grid-area: main;
    background-color: g.$open-hover;
  }
  .l-sidebar {
    grid-area: sidebar;
    background-color: g.$blue;
    position: absolute;
    left: 500px;
  }
  .l-access {
    grid-area: access;
  }
  .l-footer {
    grid-area: footer;
    background-color: g.$green;
  }
}

@include g.pc {
  .l-wrapper {
    position: static;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template:
      "header header  sidebar" 100px
      "figure   figure   sidebar" 200px
      "main    main    sidebar" 500px
      "access  access  sidebar" 200px
      "footer   footer   footer" 100px
      /40% 40% 20%;
  }
  .l-header {
    grid-area: header;
    background-color: g.$red;
  }
  .l-mainvisual {
    grid-area: figure;
    margin: 0;
    background-color: g.$gray;
  }
  .l-contents {
    grid-area: main;
    background-color: g.$open-hover;
  }
  .l-sidebar {
    grid-area: sidebar;
    background-color: g.$blue;
    position: static;
  }
  .l-access {
    grid-area: access;
  }
  .l-footer {
    grid-area: footer;
    background-color: g.$green;
  }
}
