@use "../global" as g;

@include g.sp {
  .l-wrapper {
    // min-height: 100vh;
    
    display: grid;
    grid-template:
      "header" auto
      "figure  " auto
      "main   " auto
      "sidebar" auto
      "access " auto
      "footer  " 100px
      /100%;
  }
  .l-header {
    grid-area: header;
    background-color: g.$red;
  }
  .l-mainvisual {
    grid-area: figure;
    margin: 0;
    background-color: g.$gray;
  }
  .l-contents {
    grid-area: main;
    background-color: g.$open-hover;
  }
  .l-sidebar {
    grid-area: sidebar;
    width: 100%;/*この辺は仮の設定*/
    position: absolute;
    min-width: 300px;
    transform: translate(100%, 0);
    background-color: g.$gray;
    // overflow-x: hidden;
    // position: relative;
  }

  .l-access {
    grid-area: access;
  }
  .l-footer {
    grid-area: footer;
    background-color: g.$brown;
  }
}

@include g.tab {
  .l-wrapper {
    min-height: 100vh;
    display: grid;
    grid-template:
      "header" auto
      "figure  " auto
      "main   " auto
      "sidebar" auto
      "access " auto
      "footer  " 100px
      /100%;
  }
  .l-header {
    grid-area: header;
    background-color: g.$red;
  }
  .l-mainvisual {
    grid-area: figure;
    margin: 0;
    background-color: g.$gray;
  }
  .l-contents {
    grid-area: main;
    background-color: g.$open-hover;
  }
  .l-sidebar {
    grid-area: sidebar;
    background-color: g.$blue;
    position: absolute;
    left: 500px;
  }
  .l-access {
    grid-area: access;
  }
  .l-footer {
    grid-area: footer;
    background-color: g.$brown;
  }
}

@include g.pc {
  .l-wrapper {
    position: static;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template:
      "header  sidebar" auto
      "figure   sidebar" auto
      "main    sidebar" auto
      "access  sidebar" auto
      "footer   footer" 100px
      /80% 20%;
  }
  .l-header {
    grid-area: header;
    background-color: g.$red;
  }
  .l-mainvisual {
    grid-area: figure;
    margin: 0;
    background-color: g.$gray;
  }
  .l-contents {
    grid-area: main;
    background-color: g.$open-hover;
  }
  .l-sidebar {
    grid-area: sidebar;
    background-color: g.$blue;
    position: static;
  }
  .l-access {
    grid-area: access;
  }
  .l-footer {
    grid-area: footer;
    background-color: g.$brown;
  }
}
