@use "../global" as g;

.c-btn {
	width: 18vw;
	height: 100%;
	border-radius: 10px;
	border: 2px solid g.$font-gray;
  margin: 0 10px;

	@include g.tab {
	}

	@include g.pc {
		width: 9vw;
		border-radius: 5px;
	}
}
