@use "../global" as g;

.c-grid {
	overflow-x: hidden;
	display: grid;
	grid-template:
		"header sidebar" 217px
		"figure   sidebar" auto
		"main    sidebar" auto
		"access  sidebar" auto
		"footer   sidebar" 150px
		/100% 100%;

	@include g.pc {
		overflow-x: visible;
		grid-template:
			"header  sidebar" 7%
			"figure   sidebar" auto
			"main    sidebar" auto
			"access  sidebar" auto
			"footer   footer" 150px
			/80% 20%;
	}

	&--header {
		grid-area: header;
	}

	&--mainvisual {
		grid-area: figure;
		margin: 0;
	}

	&--contents {
		grid-area: main;
		padding: 8%;

		@include g.tab {
			display: flex;
			padding: 8% 6%;
		}

		@include g.pc {
			padding: 10% 6%;
		}
	}

	&--sidebar {
		grid-area: sidebar;
		width: 100%; 
		height: 100%;
		background-color: g.$light-beige;
	}

	&--access {
		grid-area: access;
	}

	&--footer {
		grid-area: footer;
		background-color: g.$brown;
	}
}
