@use "../global" as g;

.c-text {
	font-size: 1.25vw;

	&--large {
		font-family: g.$Robot;
		font-size: 10vw;
		color: g.$font-white;
		@include g.tab {
			font-size: 5vw;
		}
		@include g.pc {
			font-size: 2.5vw;
		}
	}
	&--ttl {
		font-size: 5vw;
		font-weight: 700;

		@include g.tab {
			font-size: 2.5vw;
		}
		@include g.pc {
			font-size: 1.5vw;
		}
	}
	/*コンテンツテキスト*/
	&--content {
		font-size: 3vw;
		@include g.tab {
			font-size: 1.6vw;
		}
		@include g.pc {
			font-size: 1.2vw;
		}
	}

	/*サイドバーテキスト*/
	&--small {
		color: g.$font-gray;
		font-size: 4vw;

		@include g.tab {
			font-size: 2vw;
		}

		@include g.pc {
			font-size: 1vw;
		}
	}

	&--footer {
		font-size: 4vw;
		color: #fff;

		@include g.tab {
			font-size: 2vw;
		}
	}

	&--copyright {
		font-size: 2vw;
		color: #fff;

		@include g.tab {
			font-size: 1vw;
		}
	}
}
