@use "../global" as g;

.c-text--large {
	font-family: g.$Robot;
	font-size: 10vw;
	color:g.$font-white;
	@include g.tab {
		font-size: 5vw;
	}
	@include g.pc {
		font-size: 2.5vw;
	}
}

/*コンテンツテキスト*/
.c-text--content {
	@include g.tab {
	}
	@include g.pc {
	}
}

/*サイドバーテキスト*/
.c-text--small {
	color: g.$font-gray;
	font-size: 4vw;

	@include g.tab {
		font-size: 2vw;
	}

	@include g.pc {
		font-size: 1vw;
	}
}
