@use "../global" as g;

.p-card {
	margin: 20px 0;
	@include g.tab {
		display: flex;
	}
	@include g.pc {
	}

  

	&__image {
    width: 100%;
		@include g.tab {
      width: 50%;
		}
		@include g.pc {
      width: 50%;
		}
	}
  &__box {
    // width: 50%;
  }
}
