@use "../global" as g;

@include g.sp {
}
@include g.tab {
}
@include g.pc {
}
.p-content {
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	&__image {
		width: 100%;
	}
	&__header {
		padding: 5%;
		position: relative;

		&::before {
			display: inline-block;
			content: "";
			width: 9vw;
			height: 3px;
			background: #fff;
			position: absolute;
			left: 5%;
			top: 13%;

			@include g.tab {
				width: 4.5vw;
			}
			@include g.pc {
				height: 4px;
			}
		}
	}
	&__inner {
		background-color: rgba(255, 255, 255, 0.5);
		margin: 0 3% 3% 3%;
		padding: 5%;
		height: 190px;
		@include g.tab {
			height: 165px;
		}
		@include g.pc {
		}

		&__ttl {
			margin: 5% 0;
			@include g.pc {
        margin: 3% 0 5% 0;
			}
		}
		&__text {
			height: 85px;
			width: 100%;
			display: inline-block;
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 1.4;
			@include g.pc {
				width: 100%;
				line-height: 1.3;
			}
		}
	}
}
