/*補助的な背景を定義する*/
@use "../global" as g;

@include g.sp {
	.p-bg-display--sidebar {
		background-color: rgba(112, 112, 112, 0.9);
		display: flex;
		justify-content: flex-end;
		height: 100%;
	}
	.p-bg-display--access {
		background-color: rgba(112, 112, 112, 0.5);
		height: 50%;
	}
}

@include g.tab {
	.p-bg-display--sidebar {
		background-color: rgba(112, 112, 112, 0.9);
		display: flex;
		justify-content: flex-end;
		height: 100%;
	}
	.p-bg-display--access {
		background-color: rgba(112, 112, 112, 0.5);
		height: 50%;
	}
}

@include g.pc {
	.p-header {
		background-color: g.$bgc-beige;
	}
	.p-mainvisual__photo {
		&--sp {
			display: none;
		}
		&--pc {
			display: block;
			object-fit: cover;
			width: 100%;
		}
	}
}
