/*補助的な背景を定義する*/
@use "../global" as g;

@include g.sp {
  .p-header {
    background-color: g.$bgc-beige;
  }
  .p-content {
    &__visual {
      display: block;
      width: 100%;
    }
  }
  .p-bg-display {
    background-color: rgba(112, 112, 112, 0.9);
    display: flex;
    justify-content: flex-end;
    height: 100%;
  }
}

@include g.sp {
  .p-mainvisual {
    &__sp {
      // display: block;
      object-fit: cover;
      width: 100%;
      // height: auto;
    }

    &__pc {
      display: none;
    }
  }
}

@include g.tab {
  .p-mainvisual {
    &__sp {
      display: none;
    }
    &__pc {
      display: block;
      object-fit: cover;
      width: 100%;
    }
  }
}

@include g.pc {
  .p-mainvisual {
    &__sp {
      display: none;
    }
    &__pc {
      display: block;
      object-fit: cover;
      width: 100%;
    }
  }
}
