@use "../global" as g;

.p-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: url(../../image/png/footer.png);
	&__info {
		margin-bottom: 20px;
	}
}
