@use "../global" as g;

@include g.sp {
  .p-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__box__info{
      margin-bottom: 20px;
    }

  }
   
}

@include g.tab {
 
  .p-footer__box {
    text-align: center;
  }
}

@include g.pc {
 
  .p-footer__box {
    text-align: center;
  }
}