@use "../global" as g;

@include g.sp {
 
  .p-footer__box {
    text-align: center;
  }
}

@include g.tab {
 
  .p-footer__box {
    text-align: center;
  }
}

@include g.pc {
 
  .p-footer__box {
    text-align: center;
  }
}