@use "../global" as g;

@include g.sp {
  .p-grid--mainvisual {
    display: grid;
    grid-template: "image" auto/auto;
  }
  .p-mainvisual--photo {
    grid-area: image;
  }
  .p-mainvisual--text {
    grid-area: image;    
  }

  .p-grid--header{
    display: grid;
    grid-template: "header" auto/auto;
  }
  .p-header__heading--lg{
    grid-area: header;
  }
  .p-search{
    grid-area: header;
  }


  .p-grid--article {
    display: grid;
    grid-template: "article" auto/auto;
    padding: 5% 5% 0% 5%;
  }
  .p-content__image {
    grid-area: article;
    // display: block;
  }
  .p-content__header {
    grid-area: article;
    // display: block;
  }
  .p-content__box {
    grid-area: article;
    // display: block;
  }
}
