@use "../global" as g;

@include g.sp{
  .p-header{
    text-align: center;
    &__heading{
      &--lg{
        font-family: g.$Robot;
        color: g.$font-gray;
        font-size: 8vw;
      }
    }
  }
}