@use "../global" as g;

.p-mainvisual__photo {
	&--sp {
		width: 100%;
		vertical-align: bottom;

		@include g.tab {
			display: none;
		}
	}

	&--pc {
		display: none;

		@include g.tab {
			display: block;
			width: 100%;
			vertical-align: bottom;
		}
	}
}

.p-mainvisual--text {
	padding: 5%;
	display: flex;
	align-items: center;
}
