$black: #2c363f;
$red: #f16b6b;
$blue: #2498b3;
$skyblue: #d4f1f8;
$gray:#f3fafb;
$green:#28c700;
$light-beige:#F2EDE9;
$brown:#96806B;
/*バックグラウンド用カラー変数*/
$bgc-beige:#DED8D3;



/*フォント用カラー変数*/
$font-gray:#707070;
$font-white:#fff;
