// *{
// outline: 1px solid red;}

/*font-family*/

$Robot: 'Roboto', sans-serif;
$NotoSansJp:'Noto Sans JP', sans-serif;


/*フォントサイズ一覧*/
/*とりあえずはヘッダー内のフォントサイズを変数に置き換える*/

$base-font-size:1.25vw;

/*
header内フォントサイズ一覧
*/

/*スマートフォン用*/
$sp-header-ttl:10vw;
$sp-header-slide-btn:4vw;

/*タブレット用*/
$tab-header-ttl:min(5vw, 60px);
$tab-header-slide-btn:min(3vw, 25px);

/*パソコン用*/
$pc-header-ttl:min(3vw, 60px);
$pc-header-slide-btn: 0;



/*
mainvisual内フォントサイズ一覧
*/

/*スマートフォン用*/
$sp-mainvisual-ttl:8vw;

/*タブレット用*/
$tab-mainvisual-ttl:4vw;

/*パソコン用*/
$pc-mainvisual-ttl:1.5vw;

/*
content内フォントサイズ一覧
*/

/*スマートフォン用*/
$sp-content-heading:7vw;

/*タブレット用*/
$tab-content-heading:4vw;

/*パソコン用*/
$pc-content-heading:2vw;


