@use "../global" as g;

@include g.sp{
  .u-mainvisual{
    // background-color: #000;
    &__sp{
      // display: block;
      vertical-align: bottom;
      object-fit: cover;
      width: 100%;
      height: auto;
    }
    &__pc{
      display: none;
    }
  }
}

@include g.tab{
  .u-mainvisual{
    &__sp{
      display: none;
    }
    &__pc{
      display: block;
      object-fit: cover;
      width: 100%;
    }
  }
}

@include g.pc{
  .u-mainvisual{
    &__sp{
      display: none;
    }
    &__pc{
      display: block;
      object-fit: cover;
      width: 100%;
    }
  }
}

