@use "../global" as g;

@include g.sp {
	.u-font {
		&--btn {
			font-family: g.$Robot;
			color: g.$font-gray;
			font-size: 4vw;
			font-weight: 700;
		}

		&--header {
			font-family: g.$Robot;
			color: g.$font-gray;
			font-size: 10vw;
		}
		&--search {
			font-family: g.$Robot;
			color: g.$font-gray;
			font-weight: 700;
		}

		&--mainvisual {
			font-family: g.$Robot;
			color: #fff;
			font-size: 9vw;
		}
		&--content {
			&-ttl {
			}
		}
		&--side {
			&--ttl {
				color: g.$font-gray;
				font-size: 5vw;
			}
		}

		&--access-ttl {
			font-family: g.$Robot;
			font-size: 7vw;
			color: #fff;
		}
		&--access-text {
			color: #fff;
			font-size: 4vw;
		}

		
	}
}

@include g.tab {
	.u-font {
		&--btn {
			font-family: g.$Robot;
			color: g.$font-gray;
			font-size: min(3vw, 25px);
			font-weight: 700;
		}

		&--header {
			font-family: g.$Robot;
			color: g.$font-gray;
			font-size: min(8vw, 60px);
		}
		&--search {
			font-family: g.$Robot;
			color: g.$font-gray;
			font-weight: 700;
		}

		&--mainvisual {
			font-family: g.$Robot;
			color: #fff;
			font-size: 5vw;
		}

		&--side {
			&--ttl {
				color: g.$font-gray;
				font-size: 2.5vw;
			}
		}

		&--access-ttl {
			font-family: g.$Robot;
			font-size: 3.5vw;
			color: #fff;
		}
		&--access-text {
			color: #fff;
			font-size: 2vw;
		}

		&--footer {
			font-size: 2vw;
			color: #fff;
		}
		&--cr {
			font-size: 1vw;
			color: #fff;
		}
	}
}

@include g.pc {
	.u-font {
		&--btn {
			font-family: g.$Robot;
			color: g.$font-gray;
			font-size: min(3vw, 25px);
			font-weight: 700;
		}

		&--header {
			font-family: g.$Robot;
			color: g.$font-gray;
			font-size: min(8vw, 60px);
		}
		&--search {
			font-family: g.$Robot;
			color: g.$font-gray;
			font-weight: 700;
		}

		&--mainvisual {
			font-family: g.$Robot;
			color: #fff;
			font-size: 2.5vw;
		}

		&--side {
			&--ttl {
				color: g.$font-gray;
				font-size: 1.25vw;
			}
		}

		&--access-ttl {
			font-family: g.$Robot;
			font-size: 1.75vw;
			color: #fff;
      font-weight: 700;
		}
		&--access-text {
			color: #fff;
			font-size: 1vw;
		}

		&--footer {
			font-size: 2vw;
			color: #fff;
		}
		&--cr {
			font-size: 1vw;
			color: #fff;
		}
	}
}

