@use "../global" as g;

@include g.sp {
	.u-font {
		&--btn {
			font-family: g.$Robot;
			color: g.$font-gray;
			font-size: 4vw;
			font-weight: 700;
		}

		&--header {
			font-family: g.$Robot;
			color: g.$font-gray;
			font-size: 10vw;
		}
		&--search {
			font-family: g.$Robot;
			color: g.$font-gray;
			font-weight: 700;
			font-size: 4vw;
		}

		&--mainvisual {
			font-family: g.$Robot;
			color: #fff;
			font-size: 9vw;
		}
		&--content {
			&-ttl {
			}
		}
		&--side {
			&--ttl {
				color: g.$font-gray;
				font-size: 5vw;
			}
		}

		&--access-ttl {
			font-family: g.$Robot;
			font-size: 7vw;
			color: #fff;
		}
		&--access-text {
			color: #fff;
			font-size: 4vw;
		}

		&--footer {
			font-size: 4vw;
			color: #fff;
		}
		&--cr {
			font-size: 2vw;
			color: #fff;
		}
	}
}

@include g.tab {
	.u-font {
		&--btn {
			font-family: g.$Robot;
			color: g.$font-gray;
			font-size: min(3vw, 25px);
			font-weight: 700;
		}

		&--header {
			font-family: g.$Robot;
			color: g.$font-gray;
			font-size: min(8vw, 60px);
		}
		&--search {
			font-family: g.$Robot;
			color: g.$font-gray;
			font-weight: 700;
			font-size: min(3vw, 23px);
		}

		&--mainvisual {
			font-family: g.$Robot;
			color: #fff;
			font-size: 5vw;
		}

		&--side {
			&--ttl {
				color: g.$font-gray;
				font-size: 2.5vw;
			}
		}

		&--access-ttl {
			font-family: g.$Robot;
			font-size: 3.5vw;
			color: #fff;
		}
		&--access-text {
			color: #fff;
			font-size: 2vw;
		}

		&--footer {
			font-size: 2vw;
			color: #fff;
		}
		&--cr {
			font-size: 1vw;
			color: #fff;
		}
	}
}

@include g.pc {
	.u-font {
		&--btn {
			font-family: g.$Robot;
			color: g.$font-gray;
			font-size: min(3vw, 25px);
			font-weight: 700;
		}

		&--header {
			font-family: g.$Robot;
			color: g.$font-gray;
			font-size: min(8vw, 60px);
		}
		&--search {
			font-family: g.$Robot;
			color: g.$font-gray;
			font-weight: 700;
			font-size: min(3vw, 23px);
		}

		&--mainvisual {
			font-family: g.$Robot;
			color: #fff;
			font-size: 2.5vw;
		}

		&--side {
			&--ttl {
				color: g.$font-gray;
				font-size: 1.25vw;
			}
		}

		&--access-ttl {
			font-family: g.$Robot;
			font-size: 1.75vw;
			color: #fff;
		}
		&--access-text {
			color: #fff;
			font-size: 1vw;
		}

		&--footer {
			font-size: 2vw;
			color: #fff;
		}
		&--cr {
			font-size: 1vw;
			color: #fff;
		}
	}
}
.c-shadow {
	display: none;
	width: 100%;
	height: 100%;
	transform: translate(0%, 0);
	background-color: rgba(112, 112, 112, 0.9);
	position: absolute;
}
// .p-shadow {
//   // display: block;
//   display: none;
// 	width: 100%;
// 	height: 100%;
// 	transform: translate(-100%, 0);
// 	background-color: rgba(112, 112, 112, 0.9);
// 	position: absolute;
//   // transition: 3s;
// }
