@use "../global" as g;

@include g.sp {
  .u-font--header {
    font-family: g.$Robot;
    color: g.$font-gray;
    font-size: 10vw;
  }

  .u-font--mainvisual {
    font-family: g.$Robot;
    color: #fff;
    font-size: 9vw;
  }
  .u-font--content {
    font-family: g.$Robot;
    font-size: 10vw;
    color: #fff;

    &-ttl {
      font-size: 5vw;
      font-weight: 700;
    }
    &-text {
    }
  }

  .u-font--sideheader {
    font-family: g.$Robot;
    color: g.$font-gray;
    font-size: 6vw;
  }
}

@include g.tab {
  .p-sidebar {
    width: 43%;
    background-color: g.$light-beige;
    height: 100%;
    &__heading {
      &--md {
        font-family: g.$Robot;
        color: g.$font-gray;
        font-size: 4vw;
      }
    }
  }
}

@include g.pc {
  .p-sidebar {
    width: 100%;
    background-color: g.$light-beige;
    height: 100%;
    &__heading {
      &--md {
        font-family: g.$Robot;
        color: g.$font-gray;
        font-size: 2vw;
      }
    }
  }
}
